<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.dourok.android.demo">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />

        <service
            android:name=".services.ServiceDemo"
            android:isolatedProcess="true" />

        <activity
            android:name=".coordinate.ScrollingActivity"
            android:label="@string/title_activity_scrolling" />
        <activity
            android:name=".coordinate.CoordinatorDemoActivity"
            android:label="@string/title_activity_coordinator_demo" />
        <activity
            android:name=".bug.ColorButtonNormalBugActivity"
            android:label="@string/title_activity_color_button_normal_bug"
            android:theme="@style/ColorButtonNormalBug" />
        <activity android:name=".savestate.SaveStateDemoActivity" />
        <activity android:name=".savestate.SaveStateDemoFragmentActivity" />
        <activity android:name=".savestate.FragmentStateDemoActivity" />
        <activity android:name=".lifecyclelog.MainActivity" />
        <activity android:name=".lifecyclelog.MainFragmentActivity" />
        <activity android:name=".cordova.MyCordovaActivity" />
        <activity android:name=".cordova.MyCordovaLayoutActivity" />
        <activity android:name=".sdcard.SDCardDemoActivity"></activity>
        <activity
            android:name=".camera2.SimpleCameraActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".camera2.ImagePreviewActivity"></activity>
        <activity
            android:name=".rx.RxActivity"
            android:exported="true"></activity>
    </application>

</manifest>